#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,1,1,0
 PRODUCTVERSION 3,1,1,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "AXIOM Engine"
            VALUE "FileDescription",  "AXIOM Scientific Computation Engine"
            VALUE "FileVersion",      "3.1.1.0"
            VALUE "InternalName",     "axiom"
            VALUE "LegalCopyright",   ""
            VALUE "OriginalFilename", "axiom.dll"
            VALUE "ProductName",      "AXIOM Engine"
            VALUE "ProductVersion",   "3.1.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
